.intro {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.intro-container {
  display: flex;
  align-items: center;
  gap: 64px;

  max-width: 850px;
  margin: 0 auto;
  padding: 0 24px;

  position: relative;
  z-index: 1;
}


.intro-text p {
  font-size: 1.15rem;
  line-height: 1.6;
  max-width: 520px;
}


.intro-image img {
  margin-left: 10px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}


.intro-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.bg-icon {
  position: absolute;
  width: 290px;
  opacity: 1; 
  filter: grayscale(100%);
  animation: float 16s ease-in-out infinite;
}


.icon-1 { top: 12%; left: 1%; animation-duration: 8s; }
.icon-2 { top: 8%; right: 12%; animation-duration: 11s; }
.icon-3 { bottom: 10%; left: 1.2%; animation-duration: 12s; }
.icon-4 { bottom: 12%; right: 1%; animation-duration: 16s; }


@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}